qeo-c/output
debian/tinq-c
debian/tinq-c-dev
debian/tinq-dds-dev
debian/tinq-dds
debian/tinq-forwarder
debian/*.log
debian/*.debhelper
debian/*.substvars
debian/files
qeo-c/qeo-c/install/
qeo-c-import/miniupnpc/miniupnpcstrings.h
qeo-c/qeo-forwarder/install/
