#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export qeo-c-util_MAJOR_VERSION := 0
export qeo-c-core_MAJOR_VERSION := 0
export qeo-management-client_MAJOR_VERSION := 0
export qeo-openssl-engine-pkcs12_MAJOR_VERSION := 0

QEO-C_SRC:=qeo-c/qeo-c
DDS_SRC:=dds
TINQ-C_INSTALL:=debian/tinq-c
DDS_INSTALL:=debian/dds
MAKE_CMD:=make -f Makefile_component
MAKE_CMD_INSTALL:=${MAKE_CMD} libdir=/usr/lib

%:
	dh $@ 

override_dh_auto_build:
	cd ${QEO-C_SRC} && ${MAKE_CMD}

override_dh_auto_install:
	#install qeo
	cd ${QEO-C_SRC} && ${MAKE_CMD_INSTALL} recursive_install INSTALL_DIR=../../${TINQ-C_INSTALL}
	#cleanup
	rm ${TINQ-C_INSTALL}/usr/local/bin/ddsfreeshm 
	rmdir ${TINQ-C_INSTALL}/usr/local/bin
	rmdir ${TINQ-C_INSTALL}/usr/local
	rm ${TINQ-C_INSTALL}/usr/lib/libdds.so.0
	#install dds
	cd ${DDS_SRC} && ${MAKE_CMD_INSTALL} install INSTALL_DIR=../${DDS_INSTALL}
	#cleanup
	rm ${DDS_INSTALL}/usr/local/bin/ddsfreeshm 
	rmdir ${DDS_INSTALL}/usr/local/bin
	rmdir ${DDS_INSTALL}/usr/local

#clean:
#	echo "executing clean"
#	pwd
#
#build:
#	echo "executing build"
#	pwd
#
#binary:
#	echo "executing binary"
#	pwd
#
