#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

QEO-C_SRC:="qeo-c/qeo-c"
QEO-C-CORE_SRC:="qeo-c/qeo-c-core"
QEO-C-UTIL_SRC:="qeo-c/qeo-c-util"
TINQ-C_INSTALL:="debian/tinq-c"
MAKE_CMD:=make -f Makefile_component
MAKE_CMD_INSTALL:=${MAKE_CMD} libdir=/usr/lib install

%:
	dh $@ 

override_dh_auto_build:
	cd ${QEO-C_SRC} && ${MAKE_CMD}

override_dh_auto_install:
	cd ${QEO-C_SRC} && ${MAKE_CMD_INSTALL} INSTALL_DIR=../../${TINQ-C_INSTALL}
	cd ${QEO-C-CORE_SRC} && ${MAKE_CMD_INSTALL} INSTALL_DIR=../../${TINQ-C_INSTALL}
	cd ${QEO-C-UTIL_SRC} && ${MAKE_CMD_INSTALL} INSTALL_DIR=../../${TINQ-C_INSTALL}

#clean:
#	echo "executing clean"
#	pwd
#
#build:
#	echo "executing build"
#	pwd
#
#binary:
#	echo "executing binary"
#	pwd
#
